.product{
    gap: 20px;
    padding: 20px;
}
header{
    background-color: rgb(59, 37, 188);
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}
.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 150px;
  height: 150px;
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.05);
}


.btn-cart {
  background: linear-gradient(90deg, #3485be, #266bd2);
  color: rgb(18, 18, 1);
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-cart:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 20px rgba(238, 9, 121, 0.4);
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 200px;
  padding: 10px;
  
}
.card {
  background: #b4c1df;
  color: white;
  text-align: center;
  padding: 20px;
  
}